<!doctype html>
<html lang="en">
  <head>
    <title>Home Page</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/style.css">
    <style>
        

    </style>
  </head>
  <body>
<!-- header partial -->
    <%- include('partials/layout/header.ejs') %> 
    
<main>

    <!-- info card - who are we -->
    <div class="container d-flex col-10 offset-2 mt-4 mb-4">

        <div class="card col-8 mx-5">
            <div class="card-header blue2 text-white" style="font-size: 22px;">
              What is LayrFIVE?
            </div>
            <div class="card-body blue1">
              <blockquote class="blockquote mb-0" style="font-size: 18px;">
                <p>LayrFIVE is a networking site for software developers. It's main purpose is to connect with other developers through discussing projects and providing access to their Github links. </p>
                <!-- <footer class="blockquote-footer">Someone famous in <cite title="Source Title">Source Title</cite></footer> -->
              </blockquote>
            </div>
          </div>
    </div>

    <!-- end who are we card -->
    <div class="d-flex justify-content-center">
    <div class="card-header blue3 text-white col-11 d-flex justify-content-center" style="font-size: 25px;">
        Meet the team:
      </div>

    </div>


    <!-- start of about us cards -->
    <div class="container-fluid d-flex mx-2 justify-content-center blue1">

        <div class="card m-1 m-md-2" style="width: 20rem; border: none;">
            <img src="../images/ally.jpg" class="card-img-top" alt="..." style="border-radius: 0%;">
            <div class="card-body">
              <p class="card-text">Ally Deeter: API setup and Javascript Logic.</p>
            </div>
          </div>
        <div class="card m-1 m-md-2" style="width: 20rem; border: none;">
            <img src="../images/adam.png" class="card-img-top" alt="..." style="border-radius: 0%;">
            <div class="card-body">
              <p class="card-text">Adam MacKinnon: Database Setup and Javascript Logic.</p>
            </div>
          </div>
        <div class="card m-1 m-md-2" style="width: 20rem; border: none;">
            <img src="../images/andrea.jpg" class="card-img-top" alt="..." style="border-radius: 0%;">
            <div class="card-body">
              <p class="card-text">Andrea Myers: Design and JavaScript Logic.</p>
            </div>
          </div>
          <div class="card m-1 m-md-2" style="width: 20rem; border: none;">
            <img src="../images/layne.jpeg" class="card-img-top" alt="..." style="border-radius: 0%;">
            <div class="card-body">
              <p class="card-text">Keanu's picture was on Linkedin and Layne's was not.</p>
            </div>
          </div>

    </div>
    <!-- end of picture card div -->
    






</main>


<%- include('partials/layout/footer.ejs') %> 

      
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>