<!doctype html>
<html lang="en">
  <head>
    <title>Home Page</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/style.css">
  </head>
  <body>
<!-- header partial -->
    <%- include('partials/layout/header.ejs') %> 
    
<main>

  <!-- main container -->
<div class="container-fluid d-flex">

  <!-- main feed  -->
<div class="col-7 col-lg-9 border">
  <h3>Main Feed</h3>
  <!-- project card div -->
  <div class="card text-center">
    <div class="card-header">
      Project Owner -- can remove this header to make card more compact
    </div>
    <div class="card-body">
      <h5 class="card-title">Title of Project</h5>
      <p class="card-text">Description of Project Here. Explaining what they want help with if looking to collaborate.</p>
      <a href="#" class="btn btn-primary">Link to Project</a>
    </div>
    <div class="card-footer text-muted">
      Icons for Languages Used || Scores || Link for Comment Section
    </div>
  </div>
  <!-- end project card -->
</div>
<!-- end main feed div -->

<!-- sidebar -->
<div class="col-5 col-lg-3 border">
  <!-- <h3>Profile Sidebar</h3> -->
  <div class="d-flex justify-content-center my-3">
  <img src="../images/femaleuser.png" class="card-img-top w-50" alt="...">
  </div>
  <!-- start of card -->
  <div class="card w-100" >
    
    <div class="card-body">
      
      <h5 class="card-title"><%= userObj.username %> </h5>
      <p class="card-text">Junior Software Engineer. Student at Digital Crafts. Looking to collaborate with other developers on projects.</p>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">Javascript</li>
      <li class="list-group-item">HTML</li>
      <li class="list-group-item">CSS</li>
      <li class="list-group-item">Python</li>
    </ul>
    <div class="card-body">
      <a href="https://github.com/<%=userObj.github%>" target="_blank" class="card-link">My Github</a>
      <a href="/homepage/2" class="card-link">Add Project</a>
    </div>
  </div>
<!-- end card div -->
</div>
<!-- end of sidebar div -->
</div>
<!-- end of main container div -->

</main>



      
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="http://code.jquery.com/jquery-3.5.1.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>