<!doctype html>
<html lang="en">
  <head>
    <title>Home Page</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/style.css">
  </head>
  <body>
<!-- header partial -->
    <%- include('partials/layout/header.ejs') %> 
    
<main>

  <!-- main container -->
<div class="container-fluid d-flex">

  <!-- main feed  -->
<div class="col-7 col-lg-9 border">
  <h3>Main Feed</h3>
  <!-- project card div -->
  <div class="card text-center">
    <div class="card-header">
      Project Owner -- can remove this header to make card more compact
    </div>
    <div class="card-body">
      <h5 class="card-title">Title of Project</h5>
      <p class="card-text">Description of Project Here. Explaining what they want help with if looking to collaborate.</p>
      <a href="#" class="btn btn-primary">Link to Project</a>
    </div>
    <div class="card-footer text-muted">
      Icons for Languages Used || Scores || Link for Comment Section
    </div>
  </div>
  <!-- end project card -->
</div>
<!-- end main feed div -->

<!-- sidebar -->
<div class="col-5 col-lg-3 border">
  <!-- <h3>Profile Sidebar</h3> -->
  <div class="d-flex justify-content-center my-3">
  <img src="../images/femaleuser.png" class="card-img-top w-50" alt="...">
  </div>
  <!-- start of card -->
  <div class="card w-100" >
    
    <div class="card-body">
      
      <h5 class="card-title"><%= userObj.username %> </h5>
      <p class="card-text">Junior Software Engineer. Student at Digital Crafts. Looking to collaborate with other developers on projects.</p>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">Javascript</li>
      <li class="list-group-item">HTML</li>
      <li class="list-group-item">CSS</li>
      <li class="list-group-item">Python</li>
    </ul>
    <div class="card-body">
      <a href="https://github.com/<%=userObj.github%>" target="_blank" class="card-link">My Github</a>
      <a href="/homepage/2" class="card-link">Add Project</a>
    </div>
  </div>
<!-- end card div -->
</div>
<!-- end of sidebar div -->
</div>
<!-- end of main container div -->

</main>



      
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>

  </body>
</html>