<!doctype html>
<html lang="en">
  <head>
    <title>Registration</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/style.css">
  </head>
  <body>
<!-- header partial -->
<%- include('partials/layout/header.ejs') %> 
  <div class="container-fluid d-flex justify-content-center">
  <!-- form div -->
  <div class="border m-3 col-10">
    <form>
      <h3>Register</h3>
      <div class="input-group mb-3">
        <input type="text" class="form-control" placeholder="Username" aria-label="username" name="username" id="username">
      </div>
      <div class="input-group mb-3">
        <input type="password" class="form-control" placeholder="Password" aria-label="Password" name="password" id="password">
      </div>
      <div class="input-group">
        <input type="text" class="form-control" placeholder="Github Username" aria-label="Github Username" name='githubUsername' id='githubUsername'>
      </div>
      <small class="form-text text-muted mb-3">
        Please provide a Github username in order to post your own projects and profile picture.
      </small>
          <!-- Language checkboxes -->
          <!-- <h5>Languages:</h5>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" name="python" id="python" value="python">
            <label class="form-check-label" for="python">
              Python
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" name="javascript" id="javascript" value="javascript">
            <label class="form-check-label" for="javascript">
              Javascript
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" name="csharp" id="csharp" value="csharp">
            <label class="form-check-label" for="csharp">
              C#
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" name="html" id="html" value="html">
            <label class="form-check-label" for="html">
              HTML
            </label>
          </div> -->
          <!-- <div class="form-check">
            <input class="form-check-input" type="checkbox" name="css" id="css" value="css">
            <label class="form-check-label" for="css">
              CSS
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" name="java" id="java" value="java">
            <label class="form-check-label" for="java">
              Java
            </label>
          </div>
          <small class="form-text text-muted mb-3">
            Please select languages that you are comfortable working with. These will be displayed on your profile.
          </small> -->
          <!-- end of checkboxes -->
    <button type="submit" class="btn btn-outline-secondary m-4" id="submitForm">Submit Form</button>
    </form>
  </div>
  <!-- end of form div -->
</div>
<!-- end of container div -->
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
    <!-- <script src="/js/registration.js"></script> -->
  </body>
</html>