<header class="containter-fluid d-flex">
  <!-- logo -->
  <div class="my-2 mx-4">
    <a href="/homepage/1"><img src="../../../images/layrFIVEcircle.png" alt="" style="height: 125px;"></a>
  
</div>

<div class="d-flex align-items-end col justify-content-end" style="background-color: rgb(217, 221, 228);">
<nav class="navbar navbar-expand-lg navbar-light mx-5">
  <a class="navbar-brand" href="/homepage/1">Home</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-link active" href="/aboutus">About Us<span class="sr-only"></span></a>
      <a class="nav-link active" href="/logout">Sign Out<span class="sr-only"></span></a>
    </div>
  </div>
</div>

</header>